*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, section h2, section h3, form button{
    font-family: "Bungee", sans-serif;
    font-weight: normal;
}

body, input, textarea{
    font-family: "Roboto", sans-serif;
}

header{
    padding: 16px 0;
    background-color: #182c61;
    color: #ecf0f1;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #ecf0f1;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container, section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img{
    height: 40px;    
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

.brands-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 80px;
    
}
section .container{
    align-items: flex-start;
}

#about{
    background-color: #182b619c;
    color: #ecf0f1;
}

.direita{
    background-color: #182b616e;
    padding: 30px;
}

.direita p{
    font-size: 20px;
}

.direita h2{
    font-size: 30px;
}
section{
    padding: 24px 0;
    color: #182c61;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: inline;
    margin-right: 8px
}

.social-links li a{
    text-decoration: none;
}
#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
margin-bottom: 16px;
}

form button{
    background-color: #182c61;
    color: #ecf0f1;
    border: none;
}

form button:hover{
    background-color: #182b6196;
    cursor: pointer;
}

input:focus, textarea:focus{
    outline-color: #182c61;
}

footer{
    background-color: #182c61;
    color: #ecf0f1;
    padding: 16px 0;
    text-align: center;
    
}